body {
  margin: 0;
  background-color: #F6F1F0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  animation: fadeInAnimation 1.5s ease;
  background-color: #1B1A55!important;
}

#contenido{
  background-color: #1B1A55;
  color:white;
}

header {
  background-color: #E8320B;
  width: 100%;
  height: auto;
}

#navbar {
  justify-content: center;
}

footer {
  background-color: black;
  width: 100%;
  height: 20px;
  margin-top: auto;
}

.sobremiTab {
  background-color: inherit;
  border: none;
}

.sobremiTab:hover {
  background-color: white;
  height: 100%;
  margin: 0;
}

.mi-descripcion {
  max-width: 1280px;
  margin: 1% 5%;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content min-content;
  height: auto;
  text-align: justify;
}

.mi-foto {
  width: 154.88px;
  height: 234px;
  grid-column: 1;
  grid-row: 1/span 2;
  margin-left: 5%;
  margin-right: 1%;
}


.titulo-descripcion,.descripcion-texto,.contactocontainer{
  margin: 0 25px 0 50px;
}

h1,h2{
  color: #B2BEB5!important;
}

.descripcion-texto {
  height: fit-content;
  grid-row: 1;
  grid-column: 2;
}

.contactocontainer {
  grid-row: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.contactocontainer a{
  text-decoration: none;
}

.contactoicono{
  width: 1.25em;
  height: 1.25em;
  aspect-ratio: 1/1;
  margin: 1%;
}

.contactotexto {
  margin:0;
  white-space: nowrap;
}

.misproyectos {
  transition: opacity 1s ease;
  background-color: #1B1A55;
  color: white;
  max-width: 1280px;
}

#contenido {
  transition: opacity 1s ease;
}

.proyectoscontainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  transition: height 1s ease;
}

.cardproyecto {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid gray;
  width: 48%!important;
  margin: 1%;
  height: fit-content;
  text-align: center;
  font-size: 1em;
  font-size: 0.85em;
}

.misproyectostitle {
  text-align: center;
}

.encabezado-proyecto{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.agithubproyectoicon {
  width: fit-content;
  margin: 1%;
}

.githubproyectoicon {
  height: 3em;
}

.nombreproyecto {
  font-weight: bold;
  margin: 0;
  width: 100%;
  text-align: center;
}

.proyectoimage {
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0 auto;
}

.proyecto-descripcion {
  text-align: justify;
  margin: 0%;
  padding: 1%;
  border-bottom: 2px solid gray;
  min-height: 103.5px;
  display: flex;
  align-items: center;
}

.tecnologias {
  font-weight: bold;
  margin: 1%;
}

.tecnologiasiconos {
  flex-wrap: wrap;
  width: 100%;
  height: 65px;
  padding: 1%;
  margin-left: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.tecnologiaicono {
  height: 2rem;
  aspect-ratio: 1/1;
}

.abotonvisitar {
  border-top: 2px solid gray;
  width: 100%;
  height: fit-content;
}

.botonvisitar {
  border-radius: 5px;
  background-color: inherit;
  margin: 1% auto;
  color: green;
  font-weight: bold;
  border: 1px solid green
}

.tablatecnologias {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0;
  margin: 1% auto;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.tablatecnologias .th {
  font-weight: bold;
  font-size: 2em;

}

.tablatecnologias td {
  text-align: center;
}

.tecnologiasManejadasIcono {
  margin: 1% 0;
  height: 3em;
  aspect-ratio: 1/1;
}

.express {
  aspect-ratio: 16/9;
}

.otrasSkills {
  display: flex;
}

.Skills {
  margin: 0 auto;
  width: 50%;
}

ul {
  list-style-type: none;
  width: fit-content;
  margin: 1% auto;
  padding: 0;
}

li {
  text-indent: -14px;
}

li::before {
  content: "\2738";
  color: black;
}

hr {
  border: 1px solid gray !important;
}

@media(max-width: 768px){
  .proyecto-descripcion{
    min-height: 140.75px;
  }
}

@media (max-width: 576px) {
  .titulo-descripcion{
    text-align: center;
  }

  .mi-descripcion {
    margin: 1%;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .descripcion-texto {
    margin: 10px;
    height: auto;
  }
  .contactocontainer{
    margin: 10px;
  }

  .contactoicono{
    margin-right: 15px;
    width: 1.5em;
    height: 1.5em;
    aspect-ratio: 1/1;
  }

  .mi-foto {
    width: 154.88px;
    height: 234px;
    margin:1%;
  }

  .cardproyecto {
    width: 98%!important;
    margin: 1%;
  }
  .proyecto-descripcion{
    min-height: auto;
  }

  .tecnologiasiconos{
    height: auto;
  }

  .tablatecnologias .th {
    padding-left: 0;
  }

  .tablatecnologias .td {
    padding-left: 0;
  }

  .otrasSkills {
    flex-direction: column;
  }

  .Skills {
    width: 100%;
  }

  ul {
    margin: 1%;
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}